.container{
    display:flex;
    /* height: 400px; */
    flex-wrap: wrap;
    justify-content: space-between; 
}

.item{
    background-color: mediumseagreen;
    width: 32%;
    margin-bottom: 2%;
}

@media screen and (max-width: 700px) {

    .container{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
    .item{
        width: 49%;
        font-size: smaller;
    }
}

h2, h1, p {
    font-size: clamp(var(--min), var(--val), var(--max));
  }
  
  h1 {
    --min: 0.5em; 
    --val: 5vw; 
    --max: 3em; 
    padding: 10px;
  }
  
  p {
    --min: 0.25em;
    --val: 2.5vw;
    --max: 2em;
    padding: 10px;
  }

  h2 {
    --min: 0.75em;
    --val: 3.75vw;
    --max: 2.5em;
    padding: 10px;
    color: blueviolet;
  }